# Copyright (c) 2016, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/
[mysqld]
lower_case_table_names=1

# 禁止MySQL对外部连接进行DNS解析，使用这一选项可以消除MySQL进行DNS解析的时间。但需要注意，如果开启该选项，
# # 则所有远程主机连接授权都要使用IP地址方式，否则MySQL将无法正常处理连接请求
skip-name-resolve

# 允许最大连接数
max_connections=3072
# 服务端使用的字符集默认为8比特编码的latin1字符集
character-set-server=utf8
# 创建新表时将使用的默认存储引擎
default-storage-engine=INNODB
# lower_case_table_name=1
#服务器可接受的数据包大小,避免大数据写入失败
max_allowed_packet=16M

#错误日志： -log-err
##查询日志： -log
##慢查询日志: -log-slow-queries
##更新日志: -log-update
##二进制日志： -log-bin

#log-error=/var/lib/mysql/logs/error.log
#log=/var/lib/mysql/logs/mysql.log
#long_query_time=2
#log-slow-queries= /var/lib/mysql/logs/slowquery.log

#5.7 版本 以后 的 日志参数 改变了 ：
log_error=/var/lib/mysql/error.log
long_query_time = 1
slow_query_log=ON
slow_query_log_file=/var/lib/mysql/slowquery.log
general_log=ON
general_log_file=/var/lib/mysql/mysql.log
expire_logs_days=7
#日志保留7天

innodb_buffer_pool_size = 8192M
innodb_buffer_pool_instances = 1
query_cache_size = 0
query_cache_type = 0
tmp_table_size = 384M
max_heap_table_size = 1024M
join_buffer_size = 1024M
read_buffer_size = 512M
sort_buffer_size = 1024M
# InnoDB使用一个缓冲池来保存索引和原始数据, 不像MyISAM.
# # 这里你设置越大,你在存取表里面数据时所需要的磁盘I/O越少.
# # 在一个独立使用的数据库服务器上,你可以设置这个变量到服务器物理内存大小的80%
# # 不要设置过大,否则,由于物理内存的竞争可能导致操作系统的换页颠簸.
# # 注意在32位系统上你每个进程可能被限制在 2-3.5G 用户层面内存限制,
# # 服务器内存一般都有8G 以上,设置1G 没什么问题

query_cache_limit = 10M
innodb_log_file_size = 1G

secure-file-priv= NULL
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# bind-address   = 127.0.0.1

log-bin=/var/log/mysql/mysql-bin.index

## 设置server_id，一般设置为IP,注意要唯一
server_id=101  

## 复制过滤：也就是指定哪个数据库不用同步（mysql库一般不同步）
binlog-ignore-db=mysql  

## 开启二进制日志功能，以备Slave作为其它Slave的Master时使用
log-bin=zhongshu_slave

## 为每个session 分配的内存，在事务过程中用来存储二进制日志的缓存
binlog_cache_size=1M  

## 跳过主从复制中遇到的所有错误或指定类型的错误，避免slave端复制中断。
## 如：1062错误是指一些主键重复，1032错误是因为主从数据库数据不一致
slave_skip_errors=1062  

## relay_log配置中继日志
relay_log=mysql-relay-bin  

## log_slave_updates表示slave将复制事件写进自己的二进制日志
log_slave_updates=1  

## 防止改变数据(除了特殊的线程)
read_only=1
