datadir="/var/lib/proxysql"

admin_variables=
{
        admin_credentials="admin:admin;monitor:pass"
        mysql_ifaces="0.0.0.0:6032"
        refresh_interval=2000
}

mysql_variables=
{
        threads=4
        max_connections=2048
        poll_timeout=2000
        interfaces="0.0.0.0:6033"
        server_version="5.7.22"
        monitor_username="proxysql"
        monitor_password="proxysqlpassword"
}

mysql_replication_hostgroups =
(
    { writer_hostgroup=10 , reader_hostgroup=20 , comment="host groups" }
)

mysql_servers =
(
        { address="0.0.0.0" , port=3306 , hostgroup=10, max_connections=200 , max_replication_lag = 5 },
        { address="0.0.0.0" , port=3307 , hostgroup=20, max_connections=200 , max_replication_lag = 5 }
)

mysql_users =
(
        { username = "root" , password = "123456" , default_hostgroup = 10 , active = 1 },
        { username = "root" , password = "123456" , default_hostgroup = 20 , active = 1 }
)

mysql_query_rules =
(
        {
                rule_id=100
                active=1
                match_pattern="^SELECT .* FOR UPDATE"
                destination_hostgroup=10
                apply=1
        },
        {
                rule_id=200
                active=1
                match_pattern="^SELECT .*"
                destination_hostgroup=20
                apply=1
        }
)
